#gitrepos h3 {
  background-color: var(--text-background-color);
}

#project_list {
  color: white;
  width: 100%;

  display: inline-grid;
  --card-width: 35%;
  grid-template-columns: var(--card-width) var(--card-width);
  justify-content: center;
  grid-gap: 1vw 1vw;

  /*  border: 2px solid red;*/
}

/* Default
@media (max-width: 1920) {
  #project_list {
    --card-width: 35%;
  }
}
*/
@media (max-width: 1450px) {
  #project_list {
    --card-width: 40%
  }
}

@media (max-width: 1150px) {
  #project_list {
    --card-width: 45%
  }
}

@media (max-width: 800px) {
  #project_list {
    /* On mobile, things looks really bad when they touch the screen borders*/
    --card-width: 48%;
    grid-gap: 1.5vw 1.5vw;
  }
}

@media (max-width: 500px) {
  #project_list {
    /* On mobile, things looks really bad when they touch the screen borders*/
    --card-width: 85%;
    grid-template-columns: var(--card-width);
  }
}

@media (max-width: 400px) {
  #project_list {
    /* On mobile, things looks really bad when they touch the screen borders*/
    --card-width: 95%;
    grid-template-columns: var(--card-width);
  }
}

.card {
  overflow: hidden;
  border: 1px solid var(--background-500);
  border-radius: 10px;
  /*  margin-bottom: 2%;*/
  width: 100%;
  height: 100%;
}

.card:not(:last-child) {
  margin-bottom: 0.8%;
}

.card_link {
  display: block;
  padding: 3% 2%;
  background-color: var(--text-background-color);
  /*  backdrop-filter: blur(var(--blur-size)); laggy*/
  /*  -webkit-backdrop-filter: blur(var(--blur-size)); laggy*/
  overflow: hidden;
  position: relative;
  height: 100%;
}

.card_link:hover .card_date .card_title .card_description {
  text-decoration: none;
  color: #FFF;
}

.card_link:hover .card_bg {
  transform: translate(0vw, 60%) scale(3);
  width: 100%;
  height: 100%;
}

.card_title {
  font-weight: bold;
  font-size: var(--text-2);
  color: var(--text-700);
  margin-bottom: 10px;
}

.card_description {
  font-size: var(--text-0);
  margin-bottom: 10px;
  color: var(--secondary-500);
  margin-left: 1%
}

.card_date_box {
  font-size: var(--text--1);
  color: var(--text-600);
  z-index: 2;
  position: relative;
}

.card_date {
  font-weight: bold;
  color: var(--text-600);

  transition: color .5s ease
}

.card_bg {
  height: 128px;
  width: 128px;
  background-color: #f9b23430;

  z-index: 1;
  position: absolute;
  top: -75px;
  right: -75px;

  border-radius: 50%;

  transition: all .5s ease;
}

/*
.card:nth-child(2n) .card_bg {
  background-color: #3ecd5e30;
}

.card:nth-child(3n) .card_bg {
  background-color: #e4400230;
}

.card:nth-child(4n) .card_bg {
  background-color: #952aff30;
}

.card:nth-child(5n) .card_bg {
  background-color: #cd3e9430;
}

.card:nth-child(6n) .card_bg {
  background-color: #4c49ea30;
}
*/

/*.card:nth-child(1n) .card_bg {
  background-color: color-mix(in srgb, var(--primary-400), transparent 66%);
}
*/
.card:nth-child(2n) .card_bg {
  background-color: color-mix(in srgb, var(--primary-500), transparent 66%);
}

.card:nth-child(3n) .card_bg {
  background-color: color-mix(in srgb, var(--secondary-500), transparent 66%);
}

.card:nth-child(4n) .card_bg {
  background-color: color-mix(in srgb, var(--accent-500), transparent 66%);
}

.card:nth-child(5n) .card_bg {
  background-color: color-mix(in srgb, var(--text-500), transparent 66%);
}

/*
.card:nth-child(6n) .card_bg {
  background-color: color-mix(in srgb, var(--secondary-800), transparent 66%);
}

.card:nth-child(7n) .card_bg {
  background-color: color-mix(in srgb, var(--primary-800), transparent 66%);
}
*/