#header {
  top: 0px;
  width: 100%;
  height: 6vh;
  margin-bottom: 3%;
  margin-top: 0.5vh;
}

#header .icon {
  float: right;
  padding-right: 0.5vw;
}

.current {
  border: 2px solid var(--primary-700) !important;
}

.scene_button {
  width: 100%;
  font-size: 16px;
  /* margin-top: 0.5vh; */
  margin-bottom: 0.5vh;
  cursor: pointer;
  /*  padding: 10px 20px;*/
  border: 1px solid var(--primary-400);
  border-radius: 8px;
  background-color: transparent;
  color: var(--background-900);
  backdrop-filter: blur(var(--blur-size));
  -webkit-backdrop-filter: blur(var(--blur-size));
}