#description {
  font-size: var(--text-1);
  --side-margin: 20%;
  margin-left: var(--side-margin);
  margin-right: var(--side-margin);
  color: var(--text-900);

  backdrop-filter: blur(var(--blur-size));
  -webkit-backdrop-filter: blur(var(--blur-size));
  background-color: var(--text-background-color);
  text-align: left !important;
}

@media (max-width: 1450px) {
  #description {
    --side-margin: 15%;
  }
}

@media (max-width: 1150px) {
  #description {
    --side-margin: 10%;
  }
}

@media (max-width: 800px) {
  #description {
    --side-margin: 5%;
  }
}

@media (max-width: 600px) {
  #description {
    --side-margin: 2%;
  }
}

#description h2 {
  color: var(--accent-500)
}

#description button {
  background-color: var(--text-background-color);
  color: var(--text-900);
  border: 1px solid var(--accent-400);
  border-radius: 8px;
  padding: 5px;
}

#description li {
  margin: var(--text-1) 0;
}

#skill_list {
  color: var(--accent-500);
  width: 60%;

  display: inline-grid;
  --card-width: 5%;
  /* grid-template-columns: var(--card-width) var(--card-width); */
  justify-content: center;
  grid-gap: 3vw 3vw;
  /*    border: 1px solid green;*/
}

#skill_list ul {
  list-style: none;
  padding-left: 0px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}

@media (max-width: 1150px) {
  #skill_list {
    width: 70%;
  }

  #skill_list ul {
    grid-template-columns: repeat(3, 1fr) !important;
  }
}

@media (max-width: 800px) {
  #skill_list ul {
    grid-template-columns: repeat(2, 1fr) !important;
  }
}

@media (max-width: 600px) {
  #skill_list ul {
    grid-template-columns: repeat(1, 1fr) !important;
  }
}

.skill_card {
  padding-left: 10px;
  overflow: hidden;
  border: 1px solid var(--background-500);
  border-radius: 10px;
  /*  margin-bottom: 2%;*/
  width: 98%;
  /* height: 98%; */
  background-color: var(--text-background-color);

  height: auto;
  /* Change to auto to allow height to adjust based on content */
  display: flex;
  /* Use flexbox */
  align-items: center;
  /* Center items vertically */
  /* padding: 10px; /* Add some padding for better spacing */
}

.skill_card * {
  color: var(--text-900);
}

.skill_logo {
  margin-left: auto;
  margin-right: 10px;

  width: 20%;
  height: auto;
  /* margin-right: 10px; /* Add some space between the logo and the text */
}