:root {
  --text-background-color: color-mix(in srgb, var(--background-50), transparent 15%);
  --blur-size: 7.5px;
  /* --data-theme: "dark"; */

  /* @link https://utopia.fyi/type/calculator?c=320,13,1.125,1920,16,1.2,5,3,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
  --text--2: clamp(0.642rem, 0.6315rem + 0.0525vw, 0.6944rem);
  --text--1: clamp(0.7222rem, 0.7rem + 0.1111vw, 0.8333rem);
  --text-0: clamp(0.8125rem, 0.775rem + 0.1875vw, 1rem);
  --text-1: clamp(0.9141rem, 0.8569rem + 0.2859vw, 1.2rem);
  --text-2: clamp(1.0283rem, 0.946rem + 0.4117vw, 1.44rem);
  --text-3: clamp(1.1569rem, 1.0426rem + 0.5711vw, 1.728rem);
  --text-4: clamp(1.3015rem, 1.147rem + 0.7721vw, 2.0736rem);
  --text-5: clamp(1.4642rem, 1.2593rem + 1.0242vw, 2.4883rem);
}

* {
  scrollbar-color: #454a4d #202324;
}

html {
  color: var(--text-900);
}

body {
  background-color: transparent;
  width: 100%;
  height: 100%;
  margin: 0;
  text-align: center;
}

.icon {
  width: 25px;
  height: 25px;
}

a {
  color: var(--accent-500);
  text-decoration: None;
}

/* https://stackoverflow.com/a/62221520 ily */
#global {
  /* The power of flexboxes! */
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  min-height: 100vh;
}

#content {
  /* Key part: Eat the remaining space! */
  flex-grow: 1;
}

footer {
  margin-top: 5%;
  text-align: right;
  background-color: transparent;
}

.warning {
  color: black;
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background: yellow;
  font-size: var(--text-1);
}