.void button {
  position: absolute;
  left: 0px;
  margin-left: 1%;
  margin-top: -1%;
  border: 2px solid white;
  border-radius: 7px;
  background-color: var(--text-background-color);
  color: var(--text-500);
}

.void .on {
  border-color: green;
}

.void .off {
  border-color: red;
}