@media (prefers-color-scheme: light) {
  :root {
    --text-50: rgb(243, 244, 240);
    --text-100: rgb(231, 233, 226);
    --text-200: rgb(208, 212, 196);
    --text-300: rgb(184, 190, 167);
    --text-400: rgb(161, 168, 138);
    --text-500: rgb(137, 147, 108);
    --text-600: rgb(110, 117, 87);
    --text-700: rgb(82, 88, 65);
    --text-800: rgb(55, 59, 43);
    --text-900: rgb(27, 29, 22);
    --text-950: rgb(14, 15, 11);

    --background-50: rgb(244, 244, 241);
    --background-100: rgb(233, 233, 226);
    --background-200: rgb(211, 211, 197);
    --background-300: rgb(188, 188, 169);
    --background-400: rgb(166, 166, 140);
    --background-500: rgb(144, 144, 111);
    --background-600: rgb(115, 115, 89);
    --background-700: rgb(86, 86, 67);
    --background-800: rgb(58, 58, 44);
    --background-900: rgb(29, 29, 22);
    --background-950: rgb(14, 14, 11);

    --primary-50: rgb(243, 244, 241);
    --primary-100: rgb(232, 233, 226);
    --primary-200: rgb(209, 210, 198);
    --primary-300: rgb(186, 188, 169);
    --primary-400: rgb(162, 165, 141);
    --primary-500: rgb(139, 143, 112);
    --primary-600: rgb(111, 114, 90);
    --primary-700: rgb(84, 86, 67);
    --primary-800: rgb(56, 57, 45);
    --primary-900: rgb(28, 29, 22);
    --primary-950: rgb(14, 14, 11);

    --secondary-50: rgb(241, 244, 244);
    --secondary-100: rgb(226, 233, 233);
    --secondary-200: rgb(197, 211, 211);
    --secondary-300: rgb(169, 188, 188);
    --secondary-400: rgb(140, 166, 166);
    --secondary-500: rgb(111, 144, 144);
    --secondary-600: rgb(89, 115, 115);
    --secondary-700: rgb(67, 86, 86);
    --secondary-800: rgb(44, 58, 58);
    --secondary-900: rgb(22, 29, 29);
    --secondary-950: rgb(11, 14, 14);

    --accent-50: rgb(241, 242, 244);
    --accent-100: rgb(226, 229, 233);
    --accent-200: rgb(197, 203, 211);
    --accent-300: rgb(169, 178, 188);
    --accent-400: rgb(140, 152, 166);
    --accent-500: rgb(111, 126, 144);
    --accent-600: rgb(89, 101, 115);
    --accent-700: rgb(67, 76, 86);
    --accent-800: rgb(44, 50, 58);
    --accent-900: rgb(22, 25, 29);
    --accent-950: rgb(11, 13, 14);

  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --text-50: rgb(14, 15, 11);
    --text-100: rgb(27, 29, 22);
    --text-200: rgb(55, 58, 44);
    --text-300: rgb(82, 87, 66);
    --text-400: rgb(109, 116, 88);
    --text-500: rgb(136, 145, 110);
    --text-600: rgb(160, 167, 139);
    --text-700: rgb(184, 189, 168);
    --text-800: rgb(208, 211, 197);
    --text-900: rgb(231, 233, 226);
    --text-950: rgb(243, 244, 240);

    --background-50: rgb(14, 14, 11);
    --background-100: rgb(29, 29, 22);
    --background-200: rgb(58, 58, 44);
    --background-300: rgb(86, 86, 67);
    --background-400: rgb(115, 115, 89);
    --background-500: rgb(144, 144, 111);
    --background-600: rgb(166, 166, 140);
    --background-700: rgb(188, 188, 169);
    --background-800: rgb(211, 211, 197);
    --background-900: rgb(233, 233, 226);
    --background-950: rgb(244, 244, 241);

    --primary-50: rgb(14, 14, 11);
    --primary-100: rgb(28, 29, 22);
    --primary-200: rgb(56, 57, 45);
    --primary-300: rgb(84, 86, 67);
    --primary-400: rgb(111, 114, 90);
    --primary-500: rgb(139, 143, 112);
    --primary-600: rgb(162, 165, 141);
    --primary-700: rgb(186, 188, 169);
    --primary-800: rgb(209, 210, 198);
    --primary-900: rgb(232, 233, 226);
    --primary-950: rgb(243, 244, 241);

    --secondary-50: rgb(11, 14, 14);
    --secondary-100: rgb(22, 29, 29);
    --secondary-200: rgb(44, 58, 58);
    --secondary-300: rgb(67, 86, 86);
    --secondary-400: rgb(89, 115, 115);
    --secondary-500: rgb(111, 144, 144);
    --secondary-600: rgb(140, 166, 166);
    --secondary-700: rgb(169, 188, 188);
    --secondary-800: rgb(197, 211, 211);
    --secondary-900: rgb(226, 233, 233);
    --secondary-950: rgb(241, 244, 244);

    --accent-50: rgb(11, 13, 14);
    --accent-100: rgb(22, 25, 29);
    --accent-200: rgb(44, 50, 58);
    --accent-300: rgb(67, 76, 86);
    --accent-400: rgb(89, 101, 115);
    --accent-500: rgb(111, 126, 144);
    --accent-600: rgb(140, 152, 166);
    --accent-700: rgb(169, 178, 188);
    --accent-800: rgb(197, 203, 211);
    --accent-900: rgb(226, 229, 233);
    --accent-950: rgb(241, 242, 244);

  }
}





*{
    scrollbar-color: #454a4d #202324;

}

html{
/*    background-color: var(--background-500);*/
/*    background-color: transparent;*/

}
body{
    background-color: transparent;
    width:  100%;
    height: 100%;
    margin: 0;
    text-align: center ;
}

#header {
  text-align: right;
}

.icon{
    width: 25px;
    height: 25px;
    font-size: 10px;
}

#project_list{
    color: white;
/*    border: 1px solid var(--primary);*/
    border-radius: 10px;
    padding: 1%;
    margin-left: 25%;
    width: 50%;
    height: 100%;

/*    position: absolute;
    top: 50%;*/
}

a:visited{
    color: var(--text-500);
    text-decoration: None;
}

a {
    color: var(--pink-300);
    text-decoration: None;
}


#description{
    --side-margin: 20%;
    margin-top: 5%;
    margin-left:  var(--side-margin);
    margin-right: var(--side-margin) ; 
    font-size: 2em;
    color: var(--primary-500);
}
