@media (prefers-color-scheme: light) {
  :root {
    --text-50: rgb(253, 252, 231);
    --text-100: rgb(252, 249, 207);
    --text-200: rgb(248, 244, 160);
    --text-300: rgb(245, 238, 112);
    --text-400: rgb(242, 233, 64);
    --text-500: rgb(238, 227, 17);
    --text-600: rgb(191, 182, 13);
    --text-700: rgb(143, 136, 10);
    --text-800: rgb(95, 91, 7);
    --text-900: rgb(48, 45, 3);
    --text-950: rgb(24, 23, 2);

    --background-50: rgb(253, 250, 231);
    --background-100: rgb(252, 245, 207);
    --background-200: rgb(248, 235, 160);
    --background-300: rgb(245, 225, 112);
    --background-400: rgb(242, 215, 64);
    --background-500: rgb(238, 205, 17);
    --background-600: rgb(191, 164, 13);
    --background-700: rgb(143, 123, 10);
    --background-800: rgb(95, 82, 7);
    --background-900: rgb(48, 41, 3);
    --background-950: rgb(24, 21, 2);

    --primary-50: rgb(253, 252, 231);
    --primary-100: rgb(252, 249, 207);
    --primary-200: rgb(248, 244, 160);
    --primary-300: rgb(245, 238, 112);
    --primary-400: rgb(242, 233, 64);
    --primary-500: rgb(238, 227, 17);
    --primary-600: rgb(191, 182, 13);
    --primary-700: rgb(143, 136, 10);
    --primary-800: rgb(95, 91, 7);
    --primary-900: rgb(48, 45, 3);
    --primary-950: rgb(24, 23, 2);

    --secondary-50: rgb(231, 253, 250);
    --secondary-100: rgb(207, 252, 245);
    --secondary-200: rgb(160, 248, 235);
    --secondary-300: rgb(112, 245, 225);
    --secondary-400: rgb(64, 242, 215);
    --secondary-500: rgb(17, 238, 205);
    --secondary-600: rgb(13, 191, 164);
    --secondary-700: rgb(10, 143, 123);
    --secondary-800: rgb(7, 95, 82);
    --secondary-900: rgb(3, 48, 41);
    --secondary-950: rgb(2, 24, 21);

    --accent-50: rgb(231, 242, 253);
    --accent-100: rgb(207, 228, 252);
    --accent-200: rgb(160, 201, 248);
    --accent-300: rgb(112, 174, 245);
    --accent-400: rgb(64, 147, 242);
    --accent-500: rgb(17, 120, 238);
    --accent-600: rgb(13, 96, 191);
    --accent-700: rgb(10, 72, 143);
    --accent-800: rgb(7, 48, 95);
    --accent-900: rgb(3, 24, 48);
    --accent-950: rgb(2, 12, 24);

  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --text-50: rgb(24, 23, 2);
    --text-100: rgb(48, 45, 3);
    --text-200: rgb(95, 91, 7);
    --text-300: rgb(143, 136, 10);
    --text-400: rgb(191, 182, 13);
    --text-500: rgb(238, 227, 17);
    --text-600: rgb(242, 233, 64);
    --text-700: rgb(245, 238, 112);
    --text-800: rgb(248, 244, 160);
    --text-900: rgb(252, 249, 207);
    --text-950: rgb(253, 252, 231);

    --background-50: rgb(24, 21, 2);
    --background-100: rgb(48, 41, 3);
    --background-200: rgb(95, 82, 7);
    --background-300: rgb(143, 123, 10);
    --background-400: rgb(191, 164, 13);
    --background-500: rgb(238, 205, 17);
    --background-600: rgb(242, 215, 64);
    --background-700: rgb(245, 225, 112);
    --background-800: rgb(248, 235, 160);
    --background-900: rgb(252, 245, 207);
    --background-950: rgb(253, 250, 231);

    --primary-50: rgb(24, 23, 2);
    --primary-100: rgb(48, 46, 3);
    --primary-200: rgb(96, 91, 6);
    --primary-300: rgb(144, 137, 9);
    --primary-400: rgb(192, 183, 12);
    --primary-500: rgb(240, 228, 15);
    --primary-600: rgb(243, 234, 63);
    --primary-700: rgb(246, 239, 111);
    --primary-800: rgb(249, 244, 159);
    --primary-900: rgb(252, 250, 207);
    --primary-950: rgb(253, 252, 231);

    --secondary-50: rgb(2, 24, 21);
    --secondary-100: rgb(3, 48, 41);
    --secondary-200: rgb(7, 95, 82);
    --secondary-300: rgb(10, 143, 123);
    --secondary-400: rgb(13, 191, 164);
    --secondary-500: rgb(17, 238, 205);
    --secondary-600: rgb(64, 242, 215);
    --secondary-700: rgb(112, 245, 225);
    --secondary-800: rgb(160, 248, 235);
    --secondary-900: rgb(207, 252, 245);
    --secondary-950: rgb(231, 253, 250);

    --accent-50: rgb(2, 12, 24);
    --accent-100: rgb(3, 24, 48);
    --accent-200: rgb(7, 48, 95);
    --accent-300: rgb(10, 72, 143);
    --accent-400: rgb(13, 96, 191);
    --accent-500: rgb(17, 120, 238);
    --accent-600: rgb(64, 147, 242);
    --accent-700: rgb(112, 174, 245);
    --accent-800: rgb(160, 201, 248);
    --accent-900: rgb(207, 228, 252);
    --accent-950: rgb(231, 242, 253);

  }
}




*{
    scrollbar-color: #454a4d #202324;

}

html{
/*    background-color: var(--background-500);*/
/*    background-color: transparent;*/

}
body{
    background-color: transparent;
    width:  100%;
    height: 100%;
    margin: 0;
    text-align: center ;
}

#header {
  text-align: right;
}

.icon{
    width: 25px;
    height: 25px;
    font-size: 10px;
}

#project_list{
    color: white;
/*    border: 1px solid var(--primary);*/
    border-radius: 10px;
    padding: 1%;
    margin-left: 25%;
    width: 50%;
    height: 100%;

/*    position: absolute;
    top: 50%;*/
}

a:visited{
    color: var(--text-500);
    text-decoration: None;
}

a {
    color: var(--pink-300);
    text-decoration: None;
}


#description{
    --side-margin: 20%;
    margin-top: 5%;
    margin-left:  var(--side-margin);
    margin-right: var(--side-margin) ; 
    font-size: 2em;
    color: var(--primary-500);
}
